<h2 id="title">ember-slide-crop</h2>

{{slide-crop
    image="images/sample.jpg"
    cropWidth="400"
    cropHeight="300"}}

{{!-- actionReceiver=cropperComponent
onCrop='onCropImage' --}}

{{outlet}}
